@use "../settings"; // Import de settings avec le namespace "settings"

.header {
  h1 {
    font-size: 3.3rem;
    text-shadow: 2px 3px 0px settings.$color-1; // Utilisation de la variable via le namespace "settings"
    text-align: center;
    letter-spacing: 2px;
  }

  nav {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 1.3rem;

    ul {
      display: flex;

      a {
        text-decoration: none;
        color: settings.$white; // Utilisation de la variable "white"
        border-radius: 10px;
        width: 102px;
        text-align: center;
        margin-right: 5px;

        &:visited {
          text-decoration: none;
          color: settings.$white; // Utilisation de la variable "white"
        }

        &:hover {
          background: settings.$black; // Utilisation de la variable "black"
        }
      }

      a.nav-active {
        background: settings.$color-1; // Utilisation de la variable "color-1"

        &:hover {
          background: settings.$black; // Utilisation de la variable "black"
        }
      }
    }
  }
}
